Repository Stellar-Evolution-Clustering/Senior-Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ui, test_ui, test_api

build_ui:
  image: node:latest
  stage: build_ui
  artifacts:
    paths:
    - UI/dist
  script:
  - cd UI
  - npm install -g @angular/cli
  - npm install
  - ng build --prod

test_ui:
  image: node:latest
  stage: test_ui
  artifacts:
    paths:
    - UI/dist
  script:
  - cd UI
  - npm install -g @angular/cli
  - ng test --browsers ChromeHeadless

test_api:
  image: django:latest
  stage: test_api
  script:
  - cd API
  - chmod +x manage.py
  - ./manage.py test

Fix tests
  UI/package-lock.json
  UI/src/app/api/variables.service.spec.ts
  UI/src/app/app-routing.module.ts
  UI/src/app/app.component.spec.ts
  UI/src/app/query/query.component.spec.ts
Due: build_ui, test_ui

Ignore vscode/settings.json
  .gitignore
Due: none

Delete package-lock.json
  package-lock.json
Due: none

Update README
  README.md
Due: none

Connect to Postgres DB on Server from Django
  API/API/models.py
  API/API/settings.py
Due: none

added a few components, each is a different user input form to specify queries
  UI/src/app/about/about.component.html
  UI/src/app/about/about.component.scss
  UI/src/app/about/about.component.spec.ts
  UI/src/app/about/about.component.ts
  UI/src/app/app-routing.module.ts
  UI/src/app/app.module.ts
  UI/src/app/attribute/attribute.component.html
  UI/src/app/attribute/attribute.component.scss
  UI/src/app/attribute/attribute.component.spec.ts
  UI/src/app/attribute/attribute.component.ts
  UI/src/app/cluster-method/cluster-method.component.html
  UI/src/app/cluster-method/cluster-method.component.scss
  UI/src/app/cluster-method/cluster-method.component.spec.ts
  UI/src/app/cluster-method/cluster-method.component.ts
  UI/src/app/db/db.component.html
  UI/src/app/db/db.component.scss
  UI/src/app/db/db.component.spec.ts
  UI/src/app/db/db.component.ts
  UI/src/app/distance-func/distance-func.component.html
  UI/src/app/distance-func/distance-func.component.scss
  UI/src/app/distance-func/distance-func.component.spec.ts
  UI/src/app/distance-func/distance-func.component.ts
  UI/src/app/help/help.component.html
  UI/src/app/help/help.component.scss
  UI/src/app/help/help.component.spec.ts
  UI/src/app/help/help.component.ts
  UI/src/app/nav/nav.module.ts
  UI/src/app/nav/nav/nav.component.html
  UI/src/app/query/query.component.html
  UI/src/app/query/query.component.scss
  UI/src/app/weight/weight.component.html
  UI/src/app/weight/weight.component.scss
  UI/src/app/weight/weight.component.spec.ts
  UI/src/app/weight/weight.component.ts
  UI/src/assets/left_arrow.svg
Due: none

Rearranged routing, added a query nested route
  UI/src/app/app-routing.module.ts
  UI/src/app/app.module.ts
  UI/src/app/attribute/attribute.component.html
  UI/src/app/attribute/attribute.component.ts
  UI/src/app/db/db.component.html
  UI/src/app/home/home.component.html
  UI/src/app/home/home.component.scss
  UI/src/app/home/home.component.spec.ts
  UI/src/app/home/home.component.ts
  UI/src/app/query/query.component.html
  UI/src/app/query/query.component.scss
  UI/src/app/query/query.component.ts
Due: none

Added links for a very sloppy first query setup
  UI/src/app/graph/graph.component.html
  UI/src/app/query/query.component.html
Due: none

organized file structure. Also created editable attribute selection menu
  UI/src/app/app-routing.module.ts
  UI/src/app/app.module.ts
  UI/src/app/attribute/attribute.component.html
  UI/src/app/attribute/attribute.component.ts
  UI/src/app/db/db.component.html
  UI/src/app/db/db.component.scss
  UI/src/app/db/db.component.ts
  UI/src/app/home/home.component.scss
  UI/src/app/query/attribute/attribute.component.html
  UI/src/app/query/attribute/attribute.component.scss
  UI/src/app/query/attribute/attribute.component.spec.ts
  UI/src/app/query/attribute/attribute.component.ts
  UI/src/app/query/cluster-method/cluster-method.component.html
  UI/src/app/query/cluster-method/cluster-method.component.scss
  UI/src/app/query/cluster-method/cluster-method.component.spec.ts
  UI/src/app/query/cluster-method/cluster-method.component.ts
  UI/src/app/query/db/db.component.html
  UI/src/app/query/db/db.component.scss
  UI/src/app/query/db/db.component.spec.ts
  UI/src/app/query/db/db.component.ts
  UI/src/app/query/distance-func/distance-func.component.html
  UI/src/app/query/distance-func/distance-func.component.scss
  UI/src/app/query/distance-func/distance-func.component.spec.ts
  UI/src/app/query/distance-func/distance-func.component.ts
  UI/src/app/query/graph/graph.component.html
  UI/src/app/query/graph/graph.component.scss
  UI/src/app/query/graph/graph.component.spec.ts
  UI/src/app/query/graph/graph.component.ts
  UI/src/app/query/query.component.scss
  UI/src/app/query/query.component.ts
  UI/src/app/query/weight/weight.component.html
  UI/src/app/query/weight/weight.component.scss
  UI/src/app/query/weight/weight.component.spec.ts
  UI/src/app/query/weight/weight.component.ts
Due: none

Added functionality for variable number of attributes. Added weight sliders
  UI/src/app/api/variables.service.ts
  UI/src/app/home/home.component.html
  UI/src/app/query/attribute/attribute.component.html
  UI/src/app/query/attribute/attribute.component.ts
  UI/src/app/query/db/db.component.ts
  UI/src/app/query/query.component.html
  UI/src/app/query/query.component.ts
  UI/src/app/query/weight/weight.component.html
  UI/src/app/query/weight/weight.component.ts
Due: none

following tutorial to set up rest endpoints: https://bezkoder.com/django-postgresql-crud-rest-framework/
  API/API/settings.py
  API/API/urls.py
  API/__init__.py
  API/binarystars/__init__.py
  API/binarystars/admin.py
  API/binarystars/apps.py
  API/binarystars/migrations/0001_initial.py
  API/binarystars/migrations/__init__.py
  API/binarystars/models.py
  API/binarystars/serializers.py
  API/binarystars/tests.py
  API/binarystars/urls.py
  API/binarystars/views.py
Due: test_api

basic endpoints working
  API/API/models.py
  API/API/settings.py
  API/binarystars/migrations/0001_initial.py
  API/binarystars/models.py
  API/binarystars/serializers.py
  API/binarystars/urls.py
  API/binarystars/views.py
Due: none

Add deps to API and add pip command to CLI
  .gitlab-ci.yml
  API/requirements.txt
Due: test_api

Update django package
  .gitlab-ci.yml
Due: none

use python image to buld django
  .gitlab-ci.yml
Due: none

Fix name
  API/requirements.txt
Due: test_api

Add psycopg2
  API/requirements.txt
Due: test_api

add requirement
  API/requirements.txt
Due: test_api

Delete unused extra models.py and init.py Remove whitespace from views.py and create cluster folder
  API/API/models.py
  API/__init__.py
  API/binarystars/cluster/cluster.py
  API/binarystars/views.py
Due: test_api

Initial Clustering with KMeans
  API/API/settings.py
  API/binarystars/cluster/cluster.py
  API/binarystars/urls.py
  API/binarystars/views.py
Due: none

Add numpy and scikit to requirements.txt
  API/requirements.txt
Due: test_api

Create file with normalizing functions. Expand on cluster.py. Use newest Numpy version
  API/binarystars/cluster/cluster.py
  API/binarystars/cluster/normalize_data.py
  API/requirements.txt
Due: test_api

Added a basic Stepper component to serve as the query input. Updated routing so that the create new query button sends user to the new component.
  UI/package-lock.json
  UI/src/app/app-routing.module.ts
  UI/src/app/app.module.ts
  UI/src/app/home/home.component.html
  UI/src/app/query/query.component.html
  UI/src/app/query/stepper/stepper.component.html
  UI/src/app/query/stepper/stepper.component.scss
  UI/src/app/query/stepper/stepper.component.spec.ts
  UI/src/app/query/stepper/stepper.component.ts
Due: build_ui, test_ui

Change Mass and Lumin Ratio to Difference. Delete normalize_data.py in favor of built in modules. Give more info in JSONResponse
  API/binarystars/cluster/cluster.py
  API/binarystars/cluster/normalize_data.py
  API/binarystars/views.py
Due: none

Add comment about using Django .values() in future to get specific values from db when querying
  API/binarystars/cluster/cluster.py
Due: none

Updated logic behind the query stepper component
  UI/src/app/query/stepper/stepper.component.html
  UI/src/app/query/stepper/stepper.component.ts
Due: none

Added code to convert query form into a cleaner JSON object to be sent to the server. For now it just prints the contents to the console when submitting the query.
  UI/src/app/query/stepper/stepper.component.ts
Due: none

Working on a service to pull data from API
  UI/src/app/api/query.service.spec.ts
  UI/src/app/api/query.service.ts
  UI/src/app/query/graph/graph.component.html
  UI/src/app/query/graph/graph.component.ts
Due: none

Add sdockerfile for API
  API/Dockerfile
Due: test_api

build image
  .gitlab-ci.yml
Due: none

fix yml error
  .gitlab-ci.yml
Due: none

Hooked up endpoint to display clustered data from db. Working on zooming in on data now
  UI/angular.json
  UI/package-lock.json
  UI/src/app/api/query.service.ts
  UI/src/app/app.module.ts
  UI/src/app/query/graph/graph.component.html
  UI/src/app/query/graph/graph.component.ts
Due: build_ui, test_ui

docker compose for API (soon to be UI)
  .gitlab-ci.yml
  API/Dockerfile
  docker-compose.yml
Due: test_api

Force to use docker
  .gitlab-ci.yml
Due: none

Fix typo
  .gitlab-ci.yml
Due: none

Add tags
  .gitlab-ci.yml
Due: none

Fix error in pipeline
  .gitlab-ci.yml
Due: none

Remove build and test to test deploy
  .gitlab-ci.yml
Due: none

added a way to look at each cluster individually
  UI/src/app/query/graph/graph.component.ts
Due: none

Path conditions:
  build_ui: any of: UI/*
  test_ui: any of: UI/*
  test_api: any of: API/*
